.area{
    position: absolute;
}

fieldset > div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

legend {
    font-weight: bold;
    padding: 0 10px;
}

#personal-data-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#personal-data-fields > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#personal-data-fields > div > div {
    display: flex;
    align-items: left;
    gap: 10px;
}

#personal-data-fields label {
    min-width: 150px;
    text-align: left;
}

.min-width-20 {
    min-width: 20px !important;
}